.contact {
    position: relative;
}

.contact .aboutme   {
    position: relative;
    top: 17%;
    left: 10%;
  }

.contact .aboutme h3 {
    margin: 35px;
    font-size: 25px;
    color: #6b6464;
    font-family: inherit;
    font-weight: 100;
    letter-spacing: 3px;
    position: relative;
  }
  .contact h3::after {
    content: "";
    width: 141px;
    height: 2px;
    background: #D6A217;
    position: absolute;
    top: 28px;
    left: 1px;
  }

/*   .contact .GetinTouch {
    position: absolute;
    top: 26%;
    left: 35%;
    width: 100%;
    color: #4e4d4d;
    font-family: inherit;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 22px;
  }

  .contact .GetinTouch h4::after {
    content: "";
    width: 141px;
    height: 2px;
    background: #D6A217;
    position: absolute;
    top: 28px;
    left: 1px;
  } */

  .contact .GetinTouch {
    width: 500px;
    position: absolute;
    top: 34%;
    left: 40%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

  }

  .contact .GetinTouch .box {
    margin: 20px;
    font-size: 21px;
  }
  .contact .GetinTouch .box a {
  text-decoration: none;
  font-size: 20px;
  font-family: inherit;
  color: #6b6464;
  font-weight: 100;
  letter-spacing: 3px;
  }
  .contact .GetinTouch .box .fas {
    font-size: 25px;
  }

 